@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin:0;
    padding:0;
    /* list-style: none; */
}
li {
    cursor: pointer;
}
.elastic li.hide {
    display: none;
}
.abdulhafiz,
.m-rizo,
.abdulboriy,
.ayubkhan,
.akbar,
.javo,
.davo,
.zado,
.ova {
    display: none;
}
img {
    width: 55%;
}